@use "./media-breakpoints" as m;


$light-grey: #EEE;
$dark-grey: #5A5A5A;
$accent: #8936FF;
$gradient: linear-gradient(158deg, #E9A904 11.83%, #FFC805 86.99%);

.products {
    width: 100%;
    height: 863rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include m.tablet {
        width: 99%;
        height: 754rem;
    }

    @include m.mobile {
        width: 100%;
        height: 903rem;
    }

    &__wrapper {
        height: 646rem;

        @include m.tablet {
            width: 96%;
            height: 657rem;
        }

        @include m.mobile {
            width: 99%;
            height: 831rem;
            display: flex;
            flex-direction: column;
            gap: 182rem;
        }
    }

    &__container {
        height: 564rem;
        display: flex;
        flex-direction: column;
        gap: 10rem;

        @include m.mobile {
            gap: 11rem;
        }
    }

    &__title {
        font-family: Montserrat Alternates;
        font-size: 36rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;

        @include m.mobile {
            font-size: 24rem;
            letter-spacing: 1rem;
        }
    }

    &__row {
        display: flex;
        gap: 30rem;
        width: 100%;

        @include m.tablet {
            gap: 16rem;
        }

        @include m.mobile {
            gap: 14rem;
            flex-wrap: wrap;
            justify-content: center;
        }
    }


    &__column {
        display: flex;
        width: 228rem;
        padding: 20rem 20rem 11rem 20rem;
        align-items: flex-start;
        gap: 10rem;
        border-radius: 20rem;
        border: 1rem solid $light-grey;
        background: #FFF;

        @include m.tablet {
            position: relative;
            width: 33.333%;
            padding: 35rem 20rem 13rem 19rem;

            &:last-child {
                display: none;
            }
        }

        @include m.mobile {
            padding: 23rem 20rem 12rem;

            &:last-child {
                display: block;
            }
        }


    }

    .card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: stretch;

        @include m.tablet {
            gap: 16rem;
        }

        @include m.mobile {
            gap: 3rem;
        }


        &__image-container {
            display: flex;
            align-items: flex-start;

        }

        &__discount-label,
        &__new-label {
            display: inline-flex;
            justify-content: center;
            position: absolute;
            border-radius: 20px;

            @include m.tablet {
                position: absolute;
                top: 17rem;
            }

            @include m.mobile {
                padding: 6rem 9rem;
                top: 16rem;
            }
        }

        &__discount-label {
            width: 39rem;
            background: $gradient;
            padding: 7.5rem 9.5rem;

            @include m.tablet {
                padding: 8rem 9.5rem;
            }

            @include m.mobile {
                padding: 6rem 7rem;
            }
        }

        &__new-label {
            background: #23E26F;
            padding: 7.5rem 10rem;

            @include m.mobile {
                padding: 6rem 9rem;
            }
        }

        &__label-value {
            color: #FFF;
            font-family: Montserrat Alternates;
            font-size: 15rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            @include m.mobile {
                font-size: 14rem;
            }
        }

        &__image {
            height: 194rem;
            align-self: stretch;
            border-radius: 20rem;

            @include m.tablet {
                width: 100%;
                height: 95%;
            }
        }

        &__content {
            display: flex;
            gap: 8rem;
            flex-direction: column;

            @include m.mobile {
                gap: 2rem;
            }
        }

        &__title {
            height: 48rem;
            align-self: stretch;
            color: #000;
            font-family: Montserrat;
            font-size: 15rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2;

            @include m.mobile {
                height: 54rem;
                overflow: hidden;
                font-size: 14rem;
                line-height: 19rem;
            }
        }

        &__stars {
            width: 106rem;
            height: 16rem;
            display: flex;
            gap: 12rem;
            align-items: center;

            @include m.tablet {
                height: 14rem;
            }

            &-number {
                color: $dark-grey;
                text-align: right;
                font-family: Montserrat;
                font-size: 13rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .stars__container {
            display: flex;
            gap: 5rem;

            @include m.mobile {
                gap: 6rem;
            }

            .stars__full,
            .stars__half {
                width: 13rem;
                height: 13rem;
                background-repeat: no-repeat;
            }

            .stars__full {
                background: url("../images/star-full.svg");
                background-size: contain;
            }

            .stars__half {
                background: url("../images/star-half.svg");
                background-size: contain;
            }
        }

        &__price {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include m.mobile {
                margin-top: 7rem;
                width: 99%;
            }

            &-value {
                color: #000;
                font-family: Montserrat;
                font-size: 20rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                @include m.mobile {
                    font-size: 16rem;
                }
            }

            &-discount {
                font-family: Montserrat Alternates;
                font-weight: 700;
                background: $gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &-original {
                color: $dark-grey;
                font-family: Montserrat;
                font-size: 15rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration: line-through;

                @include m.tablet {
                    position: absolute;
                    left: 32rem;
                }
            }

            &-details {
                display: flex;
                align-items: center;
                gap: 15rem;
                flex-shrink: 0;

                @include m.tablet {
                    position: relative;
                }

                @include m.mobile {
                    gap: 6rem;
                }

                &--cart {
                    width: 87.38rem;
                    height: 46rem;
                    padding: 0rem 0rem;
                    justify-content: center;
                    border-radius: 20rem;
                    background: $accent;

                    @include m.tablet {
                        width: 39%;
                    }

                    @include m.mobile {
                        width: 41%;
                        height: 42rem;
                    }
                }


                .price__cart-plus {
                    color: #FFF;
                    text-align: center;
                    font-family: Montserrat Alternates;
                    font-size: 24rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    @include m.mobile {
                        font-size: 16rem;
                    }
                }

                .price__cart-icon {
                    background: url("../images/card-cart.svg");
                    background-size: contain;
                    width: 21rem;
                    height: 21rem;

                    @include m.mobile {
                        width: 16rem;
                        height: 16rem;
                    }
                }
            }
        }
    }

    &__button-container {
        display: flex;
        justify-content: center;
        gap: 30rem;
        margin-left: 6rem;

        @include m.tablet {
            margin-right: 3rem;
            gap: 16rem;
        }

        @include m.mobile {
            gap: 14rem;
        }
    }

    &__button {
        display: inline-flex;
        height: 60rem;
        padding: 25rem 30rem;
        align-items: center;
        gap: 10rem;
        flex-shrink: 0;
        border-radius: 20rem;
        background: rgba(255, 255, 255, 0.90);

        @include m.mobile {
            width: 45%;
            padding: 15rem 20rem;
            height: 67rem;
        }

        &--cat {
            border: 1rem solid #FFBC1A;
        }

        &--dog {
            border: 1rem solid #AF7866;
        }

    }

    &__category {
        color: #000;
        text-align: center;
        font-family: Montserrat Alternates;
        font-size: 15rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include m.mobile {
            font-size: 14rem;
        }

        &--cat {
            font-weight: 500;
            color: #FFBC1A;

        }

        &--dog {
            color: #AF7866;
            font-weight: 500;
        }
    }

    &__icon {
        width: 30rem;
        height: 30rem;
    }

    &__vector {
        width: 10.5rem;
        height: 10.5rem;
    }


}