$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 768px;
$breakpoint_sm: 360px;

$cat-color: #F9B105;
$dog-color: #BE6E53;
$dark-grey: #5A5A5A;
$light-grey: #EEE;
$footer_bg: linear-gradient(180deg, #5F23B4 0%, #4E1D94 100%);
$accent: #8936FF;
$gradient: linear-gradient(158deg, #E9A904 11.83%, #FFC805 86.99%);
$subsribe_bg: linear-gradient(180deg, #893EF4 0%, #722AD8 100%);
$light-purple:#F8F2FF;
