@import "./variables";
@import "./fonts";
@import "./header";
@import "./banner";
@import "./offer";
@import "./products";
@import "./reviews";
@import "./about";
@import "./subscribe";
@import "./footer";
@import "./media-breakpoints";


html,
body {
    height: 100%;
}

html {
    font-size: calc(1vw / 19.2);

    @include tablet {
        font-size: calc(1vw / 7.68);
    }

    @include mobile {
        font-size: calc(1vw / 3.85);
    }
}

body {
    margin: 0px;
}

.wrapper {
    position: relative;
    top: 0rem;
}

h1,
h2,
h3,
h4 {
    font-family: Montserrat Alternates;
    font-style: normal;
    line-height: normal;
}

h2 {
    font-size: 36rem;
    font-weight: 700;

    @include mobile {
        font-size: 24rem;
    }
}

h3 {
    font-family: Montserrat Alternates;
    font-size: 20rem;
    font-weight: 500;

    @include mobile {
        font-size: 16rem;
    }
}

p {
    font-family: Montserrat;
    font-size: 15rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    @include mobile {
        font-size: 14rem;
    }
}

a{
    text-decoration: none;
    color: #000;
}

.pathway {
    height: 41rem;

    &__item {
        color: #D1D1D1;
    }

    &__sub-item {
        color: $dark-grey;
    }
}
